/* --- ESTILOS GENERALES --- */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

/* --- HEADER --- */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    border: 1px solid orangered;
    border-radius: 5px;
}

/* --- LOGO (dentro de header) --- */
.logo img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 60%;
    border: 1px solid black;
    max-width: 100px;
}


/* --- NAVEGACIÓN --- */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: blanchedalmond;
    text-decoration: none;
}

/* --- BANNER --- */
.banner {
    background-color: grey;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.banner h1 {
    color: pink;
    font-style: italic;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;
}

.banner p {
    color: pink;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px 2px black;
}

/* --- CONTENIDO PRINCIPAL --- */
.contenido {
    background-color: blanchedalmond;
    padding: 25px;
    border: 2px solid orangered;
    border-radius: 5px;
}

.contenido article h2 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 2px gray;
}

.contenido article p {
    color: gray;
    font-weight: bold;
}

/* --- IMÁGENES DE SECCIONES ESPECÍFICAS --- */
.estudios img {
    border: 1.5px solid black;
}

.ultimo-trabajo img {
    width: 1024px;
    height: 682px;
}

.ubicacion img {
    border: 1.5px solid black;
}

/* --- FOOTER --- */
footer {
    background-color: grey;
    color: pink;
    text-align: center;
    padding: 10px 0;
    border: 3px solid black;
    border-radius: 5px;
}

/* --- REDES SOCIALES EN FOOTER --- */
.redes-sociales {
    width: 30px;
    margin: 10px;
}

.redes-sociales a {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}